@model List<HelloWorld.Models.Artikal>
@{
    ViewBag.Title = "PrikaziKosaricu";
}

<h2>PrikaziKosaricu</h2>
@foreach (var item in Model)
{
    //@item.Naziv<br />
    @Html.Partial("_Artikl",item)
}
