@model string
@{
    ViewBag.Title = "SimpleBindMetoda";
    Layout = "~/Views/Shared/_PosebniLayout.cshtml";
}
@section Footer{
    <span style="color:cornsilk;background-color:black; padding:5px"> Kreirano uz pomoc ASP.NET, Algebra tecaj 2019</span>
}

<h2>SimpleBindMetoda</h2>
<div>
    <form method="post">
        <label>Unesi ime:</label>
        <input type="text" name="ime" value="" />
        <input type="submit" />

    </form>
</div>
<div>
    @Model
</div>

