@model HelloWorld.Models.Artikal
    <div class="moj-box-sa-vijugama">
        <h3>@Model.Naziv</h3>
        Cijena: @Model.Cijena  -> Količina: @Model.Kolicina<br />
        <span>@Model.Kategorija</span>
    </div>
<br />
