@model int
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrugaMetodaSParametrima</title>
</head>
<body>
    <div>
        Ovo je parametar koji sam proslijedio id=@Model
    </div>
</body>
</html>
