@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <style>
        .field-vadation-error {
            color: red;
        }

        .validation-summary-errors {
            color: red;
        }
        .input-validation-error{
            border:2px solid #f00;
            background-color:#fee;
        }

        input[type="checkbox"].input-validation-error {
            color: red;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/globalize.0.1.3/globalize.js"></script>
    <script src="~/Scripts/globalize.0.1.3/cultures/globalize.culture.hr-HR.js"></script>
</head>
<body>
    <div> 
        @RenderBody()

    </div>
    <script>
        $(document).ready(function () {
            Globalize.culture("hr-HR");
            $.validator.methods.number = function (value, element) {
                return this.optional(element) ||
                    !isNaN(Globalize.parseFloat(value));
            };
            $.validator.methods.range = function (value, element, param) {
                return this.optional(element) ||
                    (Globalize.parseFloat(value) >= param[0]
                        && Globalize.parseFloat(value) <= param[1]);
            };
            $.validator.methods.date = function (value, element) {
                return this.optional(element) ||
                    Globalize.parseDate(value);
            };
        });
    </script>
</body>
</html>
