@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PopisKosarice</title>
    <style>
        body {
            padding: 10px 10px 10px 10px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }

        .rightAlign {
            text-align: right;
        }

        tr:nth-child(even) {
            background-color: #d4caca;
        }

        thead {
            background-color: #faf894;
        }
    </style>
</head>
<body>
    <div>
        <h1>Popis košarice:</h1>
        <table>
            <thead>
                <tr>
                    <th>Artikal</th>
                    <th>Cijena</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sako</td>
                    <td class="rightAlign">450 HRK</td>
                </tr>
                <tr>
                    <td>Hlače</td>
                    <td class="rightAlign">250,50 HRK</td>
                </tr>
                <tr>
                    <td>Košulja</td>
                    <td class="rightAlign">120,15 HRK</td>
                </tr>
                <tr>
                    <td>Kravata</td>
                    <td class="rightAlign">50,56 HRK</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
